<table class="table">
  <thead style="position: sticky; top: 0; background-color: white;">
    <tr>
      <th scope="col">#</th>
      <th scope="col">歌名</th>
      <th scope="col">歌手/團體</th>
      <th scope="col">專輯</th>
      {{#ifCond route 'user-playlist'}}
        <th scope="col">刪除鍵</th>
      {{/ifCond}}
    </tr>
  </thead>
  <tbody>
    {{#each tracks}}
      <tr>
        <th scope="row">{{this.index}}</th>
        <td>{{this.name}}</td>
        <td>{{this.artist}}</td>
        <td>
          <img src="{{this.albumCover}}" class="me-1" style="width: 10%;">
          {{this.album}}
        </td>
        {{#ifCond ../route 'user-playlist'}}
          <td>
            <form action="/user/{{../../loginUser.spotifyId}}/playlist/{{../this.id}}?_method=delete" method="post">
              <button type="submit" class="btn btn-outline-danger">刪除</button>
            </form>
          </td>
        {{/ifCond}}
      </tr>
    {{/each}}
  </tbody>
</table>