<div class="d-flex mb-2 align-items-center">
  <img src="{{checkAvatar user.avatar}}" class="rounded-circle border" style="width: 10%;">
  <h3 class="mx-3">{{user.name}}</h3>
</div>

<div>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link {{#ifCond time_range 'short_term'}}active{{/ifCond}}"
            href="/user/{{user.spotifyId}}/statistics?time_range=short_term">過去四週</a>
          <a class="nav-link {{#ifCond time_range 'medium_term'}}active{{/ifCond}}"
            href="/user/{{user.spotifyId}}/statistics?time_range=medium_term">過去半年</a>
          <a class="nav-link {{#ifCond time_range 'long_term'}}active{{/ifCond}}"
            href="/user/{{user.spotifyId}}/statistics?time_range=long_term">所有紀錄</a>
        </div>
      </div>
    </div>
  </nav>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">歌名</th>
        <th scope="col">歌手/團體</th>
        <th scope="col">專輯</th>
      </tr>
    </thead>
    <tbody>
      {{#each topTracks}}
        <tr>
          <th scope="row">{{this.index}}</th>
          <td>{{this.name}}</td>
          <td>{{this.artist}}</td>
          <td>{{this.album}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>